header, footer {
    width: 100%;
}

footer {
    bottom: 0;
    text-align: center;
    margin: 0.25rem 0rem;
    border-radius: 0.5rem;
    display: inline-block;
}

.navigation-header {
    width: 100%;
    border-radius: 0.5rem;
    display: inline-block;
}

.navigation-image {
    float: left;
}

.navigation-links {
    padding-top: 1rem;
    float: right;
    padding-right: 0.25rem;
}

.navigation-links .button {
    border: none;
    height: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    font-variant: small-caps;
    font-size: large;
}

.navigation-image img {
    height: 3rem;
    padding: 0.5rem 1rem 0.25rem;
}

.navigation-links a {
    text-decoration: none;
    font-size: x-large;
    padding-inline: 0.5rem;
    font-variant: small-caps;
}

@media (prefers-color-scheme: light) {

    .navigation-links .button {
        background-color: lightgray;
    }

    .navigation-header, footer {
        background-color: lightsteelblue;
    }

    .navigation-header a {
        color: #111111;
    }

    .navigation-links a:hover {
        background-color: #bbbbbb;
    }
}

@media (prefers-color-scheme: dark) {

    .navigation-links .button {
        background-color: rgb(93, 95, 97);
        color: #eeeeee;
    }

    .navigation-header, footer {
        background-color: #222222;
    }

    .navigation-header a {
        color: #eeeeee;
    }

    .navigation-links a:hover {
        background-color: #444444;
    }
}