.main-container, .container {
    margin-inline: 0.25rem;
}

li {
    text-align: left;
}

.index-greeter {
    width: 100%;
}

.presentation-header {
    text-align: center;
    font-variant: small-caps;
}

.greeter-divider {
    color: black;
    max-width: 384px;
    margin-bottom: 1rem;
}

.centered-on-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.greeter-links, .greeter-links-row, [class^="greeter-button-"] {
    margin: auto;
    text-align: center;
}

.greeter-links-row {
    margin-bottom: 0.5rem;
}

.button {
    min-width: 4rem;
    border: none;
    height: 4rem;
    border-radius: 0.5rem;
    text-align: center;
    /*font-variant: small-caps;*/
    font-size: xx-large;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar-button {
    border: none;
    background-color: white;
}

.greeter-links-row a {
    text-decoration: none;
}

[class^="greeter-button-"] {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

[class^="greeter-button-"]:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media (prefers-color-scheme: light) {
    body, [class^="greeter-button-"] {
        color: black;
        background-color: white; 
    }
}

@media (prefers-color-scheme: dark) {
    body, [class^="greeter-button-"] {
        color: #f5f5f7;
        background-color: black;
    }
}

@media only screen and (min-width: 768px) {
    .greeter-divider {
        max-width: 24rem;
    }

    .greeter-links {
        width: 384px;
    }

    .greeter-button-small {
        min-width: 4rem;
        font-weight: bold;
    }
    
    .greeter-button-medium {
        min-width: 12rem;
        font-variant: small-caps;
    }
}

@media only screen and (max-width: 768px) {
    .greeter-divider {
        max-width: 18rem;
    }

    .greeter-button-small {
        min-width: 4rem;
        font-weight: bold;
    }
    
    .greeter-button-medium {
        min-width: 12rem;
        font-variant: small-caps;
    }

}
