.main-container, .container {
    margin-inline: 0.25rem;
}

li {
    text-align: left;
}

.index-greeter {
    width: 100%;
}

.presentation-header {
    text-align: center;
    font-variant: small-caps;
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: white; 
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
}
